body {
    font-size: 1rem;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
}

table { border-collapse: collapse; }
tr { 
    border: 1px solid #ccc; 
}
th, td { 
    padding: 2px 5px 2px 5px;
    font-size: 1.4rem;
    background-color: black;
    color: white;
}
td:first-child { 
    border-right: 1px solid #dfdfdf;
    text-align: center;
}
td + td {
    padding-left: 15px;    
    max-width: 187px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img { 
    max-width: 100%;
    height: auto;
}
.img--logo {
    max-width: 300px;
    margin-bottom: -7px;
}
